.container {
  display: flex;
  gap: 8px;
  color: var(--white-base);
  min-width: 300px;
  padding-bottom: 24px;
}

.general-for-button {
  border: 0;
  background: transparent;
  color: var(--white-base);
  padding: 0;
  cursor: pointer;
}

.general-for-button:hover {
  opacity: .9;
}

.not-selected {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.selected {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}