:root {
  --white-base: #FFF;
  --orange-base: #F86600;
  --black-base: #000;
  --black-cart: #232526;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--black-base);
  max-width: 1280px;
}
