:root {
  --white-base: #FFF;
  --orange-base: #F86600;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  max-width: 1280px;
  width: 100%;
}